{% extends 'layout.html' %}

{% block title %}
{{ archivo }}
{% endblock %}

{% block content %}

<div class="contenedor">

    <a class="boton" href="{{ url_for('practica', nombre=practica) }}">
        ⬅ Volver
    </a>

    <h2>{{ archivo }}</h2>

    <div class="bloque">
        <h3>Código Python</h3>

        <pre>
{{ codigo }}
        </pre>
    </div>

    <div class="bloque">
        <h3>Resultado de la Ejecución</h3>

        <pre>
{{ salida }}
        </pre>
    </div>

    {% if errores %}

    <div class="bloque error">
        <h3>Errores</h3>

        <pre>
{{ errores }}
        </pre>
    </div>

    {% endif %}

</div>

{% endblock %}